.carousel-container {
    justify-content: space-between; /* Ajusta el espacio entre los elementos */
}
.carousel-text, .carousel-wrapper {
    flex: 1; /* Asegura que ambos elementos tomen el mismo espacio */
}

.carousel-container .carousel-text h1{
    font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 5rem;
}

.img{
   
    opacity: 0.8;
    transition: all 0.5s;
}


.img:hover{
   
    opacity: 1;
}
