.eventoItem{
    border: none;
    font-size: 2.5rem;
    color: #b9b9b9;
    width: 68%;
    text-align: left;
    margin-left: 30vw;
    border-radius: 0;
    border-bottom: 0.2rem solid #b9b9b9;
    transition: all 0.5s;
}

.eventoItem:hover {
  color: white;
   box-shadow: 
     inset 0 6rem 0 0 #00b8d2,
     inset 0  0 0 #00b8d2;
     border-bottom: 0.2rem solid #00b8d2; 

 }

 .eventoItem.selected {
    color: white;
     box-shadow: 
       inset 0 6rem 0 0 #00b8d2,
       inset 0  0 0 #00b8d2;
       border-bottom: 0.2rem solid #00b8d2; 
  
   }

 .eventoItem:focus{
    background-color: transparent;
    color: #b9b9b9;
 }

 .eventosRow{
    display: flex;
    flex-direction: row;
    position: relative;
 }

 .eventoItem + img{
    width: 20vw;
    height: 0;
    object-fit: cover;
    top: -4.2rem;
    left: 5rem;
    position: absolute;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0;
 }

 .eventoItem.selected + img{
    width: 20vw;
    height: 25vw;
    object-fit: cover;
    top: -4.2rem;
    left: 5rem;
    position: absolute;
    transition: all 0.5s;
    visibility: visible;
    opacity: 1;
 }

 .eventoItem:hover + img{
    height: 25vw;
    visibility: visible;
    opacity: 1;
 }

 @media  (max-width: 500px){

    .eventoItem{
        font-size: 1.2rem;
        margin-left: 1.25rem;
        width: calc(98% - 2rem);
    }

    .eventoItem:hover {
        color: white;
         box-shadow: 
           inset 0 6.3rem 0 0 #00b8d2,
           inset 0  0 0 #00b8d2;
           border-bottom: 0.2rem solid #00b8d2; 
      
       }

    .eventoItem + img{
        width: 80vw;
        height: 100vw;
        left: 2rem;
        top: -120vw;

    }

    .eventoItem.selected + img{
      width: 80vw;
      height: 100vw;
      left: 2rem;
      top: -120vw;

  }

    .eventoItem:hover + img{
        height: 100vw;
    }

 }