@tailwind base;
@tailwind components;
@tailwind utilities;

main{
  overflow-x: hidden;
}
body {
  font-family: 'Adieu' !important;
  background-color: #373737;
}

.rc-slider{
  padding: 0 !important;
}

.rc-slider-handle{
  background-color: #B9B9B9 !important;
  border-color: white !important;
  width: 1.2rem !important;
  opacity: 1 !important;
  height: 1.2rem !important;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging{
  box-shadow: 0 0 0 2px white !important;
}
.rc-slider-handle:hover{
  border-color:white !important; 
}
.rc-slider-track{
  background-color: white !important;
}
.home-element{
  width: 28vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 4rem;
}

.home-element.middle-element{
  padding-top: 12vh;
  width: 22vw;
 
  
}

.home-element.last-element{
  padding-top: 0;
  width: 20vw;
 
  
}

.home-element.last-element  .image-no-hover{
  height: 22rem;
  object-fit: cover;
  z-index: 999;
 
  
}

.home-element.last-element  .image-hover{
  height: 22rem;
  object-fit: cover;
  z-index: 1000;
  
 
  
}

.home-element.middle-element  .image-no-hover{
  height: 25rem;
  object-fit: cover;
  
  
}

.home-element.middle-element  .image-hover{
  height: 25rem;
  object-fit: cover;
 
  
}

.home-element > h2{
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  margin-left: -1rem;
  color: #B9B9B9;
}

.image-home {
  position: relative;
}

.image-no-hover{
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.image-hover{
  position: absolute;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}
.image-no-hover:hover + .image-hover{
 opacity: 1;
 visibility: visible;
}

.image-hover:hover{
  opacity: 1;
  visibility: visible;
 }





 .grafitti1{
  height: 120vh;
  position: fixed;
  z-index: 20;
  right: 0;
  object-fit: contain;
  max-width: 35vw;
 }

 .grafitti-event{

  height: 100vh;
  top: -22%;
  bottom: 100%;
  position: absolute;
  right: -50%;
  object-fit: cover;
  max-width: 305vw;
  z-index: -20;
 }

 .grafitti2{
  position: absolute;
  z-index: 3;
 margin-top: 10vw;
 left: -3vw;
 width: 100%;
 }

 .arrow{
  position: fixed;
  z-index: 0;
  margin-top: 10vw;
 left: 5rem;
 width: 25rem;
 bottom: 5rem;
 opacity: 0.3;
 }

 .arrow-header{
  position: absolute;
  z-index: 0;
  margin-top: 10vw;
  left: 3rem;
  width: 20rem;
  bottom: 19rem;
  opacity: 0.3;
 }
 .contacto{
  width: 100vw;
  height: 100vh;
  background-color: #373737;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.5s;
  position: relative;
 }

 button{
  border: 4px solid white;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  border-radius: 100vw;
  transition: all 0.5s;
  cursor: pointer !important;
 }

 button.disabledButton{
  opacity: 0.5;
  cursor: not-allowed;
 }

button:hover,
button:focus {
  color: #373737;
   box-shadow: 
     inset 0 -1.5em 0 0 white,
     inset 0 1.5em 0 0 white;  
 }

 button.disabledButton:hover,
button.disabledButton:focus {
  color: white;
   box-shadow:none !important;  
 }

 .contacto h1{
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: white !important;
  margin-bottom: 5rem;
 }


 .contacto:has(button:hover){
  background-color: #FCCE0A;
  
 }

 .contacto.blue:has(button:hover){
  background-color: #00b8d2;
  
 }

 .contacto.pink:has(button:hover){
  background-color: #DA1B59;
  
 }








.scroll-section-outer {
  overflow: hidden;
  position: relative;

}

.scroll-section-inner {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

.scroll-section {
  height: 100vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

 .alliance h1{
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 5rem;
 }

 .container-carousel img {
  width: 200px;
  height: 200px;
  object-fit: contain;
 }

 .container-gallery img {
  width: 300px;
  height: 300px;
  object-fit: cover;
 }

 .header-page {
  line-height: 1.5;
  left: 10rem;
  font-size: 4rem;
  color: white;
  transition: all 0.5s;
  top: 5rem;
  position: absolute;
 }

 .secondary-header {
  background-color: #373737;
  font-size: 4rem !important;
  color: white;
  transition: all 0.5s;

 }

 .imageLoader{
  width: 100vw;
  height: 100vh;
  background-color: #373737;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30000;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s;
  animation: spin 5s linear infinite;
}

.imageLoader.notVisible{
  visibility: hidden;
  opacity: 0;
}

.carousel-container{
  margin-top: 5rem;
}

.spinner {

  width: 15rem;
  height: 15rem;
object-fit: contain;
 
}

@keyframes spin {
  25% {
    background-color:  #FCCE0A; /* Color for the first quarter of the animation */
  }
  50% {
    background-color:  #f39c12; /* Color for the second quarter of the animation */
  }
  75% {
    background-color:#DA1B59; /* Color for the third quarter of the animation */
  }
  100% {
    background-color:  #00b8d2; /* Color for the last quarter of the animation */
 
  }
}
 @media  (max-width: 500px){

  .contacto h1{
    font-size: 2rem;
  }

  .home-element{
   
width: 60vw;
    margin-left: 20vw;
    margin-right: 10vw;
  }
  .home-element.middle-element{
    margin-left: 0;
    margin-right: 10vw;
    width: 65vw;
  }

  .home-element.last-element{
margin-left: 0;
width: 60vw;
  }

  .mobile-home{
    width: 100vw;
    left: 0vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  .grafitti1{
    height: 120vh;
    z-index: 0;
    max-width: 160vw;
  }

  .mobile-section{
    margin-top: 40vh;
  }

  .casa-del-pickleball{
    font-size: 0.7rem;
  }

  .arrow{
    margin-top: 0;
    left: auto;
    right:5rem;
    width: 10rem;
    bottom: 12rem;
    opacity: 0.3;
  }

  .arrow-header{
    margin-top: 0;
    left: auto;
    right:auto;
    left: 2rem;
    width: 10rem;
    bottom: 12rem;
    opacity: 0.3;
  }

  .section-2{
    width: 100%;
  }
  .section-2-content{
    margin-left: 1rem;
  }

  .header-page{
    font-size: 3.5rem;
    left: 2rem;
  }

  .grafitti-event{
    top: 0;
    right: -200%;
    object-fit: cover;
  }

  .secondary-header{
    font-size: 2rem !important;
    margin-left: 1.25rem;
  }
 }